VITE_LIVEKIT_URL=change_this_to_your_livekit_url
VITE_LIVEKIT_TOKEN_ENDPOINT=change_this_to_your_token_endpoint
VITE_LIVEKIT_ROOM_NAME=change_this_to_your_room_name
VITE_LIVEKIT_AGENT_NAME=change_this_to_your_agent_name


LIVEKIT_URL=change_this_to_your_livekit_url
LIVEKIT_API_KEY=change_this_to_your_livekit_api_key
LIVEKIT_API_SECRET=change_this_to_your_livekit_api_secret
DEEPGRAM_API_KEY=change_this_to_your_deepgram_api_key
CAL_API_KEY=change_this_to_your_cal_api_key
OPENROUTER_API_KEY=change_this_to_your_openrouter_api_key
OPENROUTER_MODEL=change_this_to_your_openrouter_model

SSL_CERT_FILE=change_this_to_your_ssl_cert_file
REQUESTS_CA_BUNDLE=change_this_to_your_requests_ca_bundle