LIVEKIT_URL=your_livekit_url
LIVEKIT_API_KEY=livekit_api_key
LIVEKIT_API_SECRET=livekit_api_secret
OPENAI_API_KEY=secret_ai_key
DEEPGRAM_API_KEY=deepgram_key
SSL_CERT_FILE=your_file_path
CAL_API_KEY=cal_api_key